:root {
    font-family: Arial, Helvetica, sans-serif;
    max-width: fit-content;
    --stand-font-size: 28px;
    --dot-size: 50px;
    --dot-radius: 25px;
    --box-size: 550px;
    --box-rotate: -10deg;
    --box-skew: 10deg;
    --bot-pos: 25vh;
    --top-pos: 90vh;
    --left-pos: 2vw;
    --right-pos: 93vw;
    --horiz: 2;
    --vert: 1.5;
    --stan-border: solid thick black;
    --thick-border: solid 7px black;
    --column-border: solid 10px black;
    --sec-color-fade: lightcyan;
    --sec-color: aqua;
    --prim-color-fade: lightpink;
    --prim-color: rgb(255, 105, 233);
    --acc-color-fade: lightyellow;
    --acc-color: yellow;
}

/* Header/Nav */
body {
    background-color: white;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    height: 80vh;
    font-size: 48px;

    > * {
        padding: 2% 2%;
        z-index: -1;
        font-weight: bold;
    }

    div {
        padding-left: 7%;
    }
}



h1 {
    font-size: 60px;
    font-weight: bolder;
}

nav {
    height: 15vh;
    margin-bottom: 5vh;
    background-color: gray;
    font-size: var(--stand-font-size);
}

.page-navigation ul {
    display: flex;
    justify-content: flex-end;
    height: 100%;

    > li {
        align-self: center;
        padding: 1% 2%;
        position: relative;
        background-color: var(--sec-color-fade);
        text-shadow: 0px 1px black;
        box-shadow: 5px 5px 2px black;
        margin: 0 4%;
        transition: scale 1s, background-color 1s, rotate 1s, box-shadow 1.5s;
        transition-timing-function: ease-out 100ms;

        > div {
            position: absolute;
            width: 50px;
            height: 50px;
            z-index: -1;
            background-color: black;
        }
    }
}

/* nav button animations */

.page-navigation li:hover {
    scale: 1.5;
    background-color: var(--sec-color);
    rotate: -5deg;
    box-shadow: 7px 7px 3px;
}

.bg-box {
    position: absolute;
    width: var(--box-size);
    height: var(--box-size);
    max-width: 70%;
    max-height: 70%;
    rotate: var(--box-rotate);
    transform: skew(var(--box-skew));
    background-color: white;
    mix-blend-mode: difference;
}

/* dots animation */

@keyframes southwest {
    0%   {bottom: var(--bot-pos);}
    63%  {scale: 1 var(--vert)}
    100% {bottom: var(--top-pos)}
}

@keyframes northwest {
    0%   {left: var(--left-pos);}
    70%  {scale: var(--horiz) 1}
    100% {left: var(--right-pos)}
}

@keyframes northeast {
    0%   {bottom: var(--top-pos);}
    63%  {scale: 1 var(--vert)}
    100% {bottom: var(--bot-pos);}
}

@keyframes southeast {
    0%   {left: var(--right-pos);}
    70%  {scale: var(--horiz) 1}
    100% {left: var(--left-pos)}
}

.dots div{
    position: absolute;
    width: var(--dot-size);
    height: var(--dot-size);
    padding: 0;
    background-color: black;
    border-radius: var(--dot-size);
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
    animation-delay: .5s;
}

#SW {
    bottom: var(--bot-pos);
    left: var(--left-pos);
    animation-name: southwest;
}

#NW {
    bottom: var(--top-pos);
    left: var(--left-pos);
    animation-name: northwest;
}

#NE {
    bottom: var(--top-pos);
    left: var(--right-pos);
    animation-name: northeast;
}

#SE {
    bottom: var(--bot-pos);
    left: var(--right-pos);
    animation-name: southeast;
}

/* Projects */

main {
    display: flex;
    position: relative;
    flex-flow: column;
    text-align: right;
}

.highlights {
    display: flex;
    flex: 2 3 auto;
    justify-content: flex-end;
    font-size: var(--stand-font-size);
}

.highlights > * {
    border: var(--stan-border);
    width: 35%;
    height: 40vh;
}

.highlights {
    text-align: center;
}

#about-me span, #newest-work h3{
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

#about-me, #newest-work {
    display: flex;
    line-height: 34px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--prim-color-fade);
    transition: background-color .5s, scale .5s;
    transition-timing-function: ease-out 100ms;
    h3 {
        position: relative;
    }
}

#about-header{
    position: absolute;
    top: 30%;
    left: 15%;
    right: 15%;
    transition: opacity 1s;
}

h3 p{
    opacity: 0%;
    margin: 7px 20px;
    font-size: 24px;
    transition: opacity 1s;
}

#newest-work:hover {
    background-color: var(--prim-color);
    scale: 1.25;
    z-index: 1;
}

#about-me:hover {
    background-color: var(--prim-color);
    scale: 1.25;
    z-index: 1;
    #about-header {
        opacity: 0%;
    }
    p {
        opacity: 100%;
    }
}

.projects {
    display: flex;
    justify-content: flex-end;
}

.projects ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    max-width: 80vw;

    li {
        border: solid 4px black;
        margin: 3px;
        width: 30vw;
        height: 30vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--acc-color-fade);
        transition: background-color .5s;
        transition-timing-function: ease-out 100ms;
    }
}

.projects ul li:hover {
    background-color: var(--acc-color);
}

h4 {
    font-size: 28px;
    line-height: 34px;
    font-weight: bold;
}

/* animation for name banner */

@keyframes name-sign {
    0%   {background-color: var(--prim-color-fade)}
    17%  {background-color: var(--prim-color)}
    33%  {background-color: var(--sec-color-fade)}
    50%  {background-color: var(--sec-color)}
    67%  {background-color: var(--acc-color-fade)}
    83% {background-color: var(--acc-color)}
    100% {background-color: var(--prim-color-fade)}
}

#name-column {
  writing-mode: vertical-lr;
  text-orientation: upright;
  text-align: justify;
  position: absolute;
  left: 80px;
  width: 200px;
  padding: 50px 0;
  font-size: 40px;
  font-weight: bold;
  line-height: 200px;
  div {
    position: absolute;
    z-index: -2;
    rotate: 5deg;
    width: 125px;
    height: 100px;
    right: 30px;
    border-right: var(--column-border);
    border-left: var(--column-border);
    animation-name: name-sign;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
}

/* Wasn't working: might REVISIT */

/* #name-bars {
    position: relative;
    text-orientation: upright;
    z-index: 2;
    width: 100vw;
    text-align: justify;
    span {
        position: absolute;
        font-weight: bold;
        font-size: 32px;
        top: -5px;
        color: white;
    }
} */

#first-name {
    writing-mode: vertical-lr;
    text-shadow: 3px 3px 2px black, -3px -3px 2px black;
    left: 15px;
}

#last-name {
    writing-mode: vertical-rl;
    text-shadow: 3px -3px 2px black, -3px 3px 2px black;
    right: 20px;
}

/* Contacts */

footer {
    height: 10vh;
    margin-top: 10vh;
    background-color: gray;
    font-size: var(--stand-font-size);
}

.contacts ul {
    display: flex;
    justify-content: space-evenly;
    height: 100%;

    > li {
        align-self: center;
        padding: 0 2%;
        margin: 0 4%;
    }
}

/* Screen Breakpoints */

@media screen and (max-width: 1024px) {
    nav {
        height: 20vh;
        margin-bottom: 10vh;
    }

    .page-navigation ul {
        justify-content: center;        
    }
    
    .highlights {
        flex-flow: column wrap;
        align-content: flex-end;
        justify-content:flex-start;
    }

    .highlights > * {
        width: 80%;
    }

    .projects ul {
        li {
            width: 70vw;
        }
    }

    footer {
        height: 25vh;
    }

    #newest-work:hover {
        scale: 1;
    }
    
    #about-me:hover {
        scale: 1;
    }

    #name-column {
        display: none;
    }
    #name-bar {
        display: flex;
    }

    :root {
        --dot-size: 40px;
        --box-size: 525px;
    }
}

@media screen and (max-width: 768px) {
    header {
        height:65vh;
    }
    
    nav {
        height: 25vh;
    }
    
    .highlights > * {
        width: 100%;
        height: 400px;
    }

    .projects ul {
        li {
            width: 100vw;
            height: 350px;
        }
    }

    #about-me, #newest-work, .projects li {
        border: var(--thick-border);
    }

    :root {
        --bot-pos: 40vh;
        --dot-size: 35px;
        --box-size: 470px;
    }
}

@media screen and (max-width: 600px) {
    header {
        height:70vh;
    }
    
    nav {
        height: 30vh;
        margin-bottom: 5vh;
    }

    .page-navigation ul {
        flex-direction: column;
        justify-content: space-around;
        
    }

    #about-me, #newest-work, .projects li {
        border-top: var(--column-border);
        border-bottom: var(--column-border);
        /* box-shadow: 5px 5px 2px black; */
    }

    footer {
        height: 30vh;
    }

    .contacts ul {
        flex-direction: column;
        justify-content: space-around;
        
    }

    :root {
        --dot-size: 30px;
        --box-size: 425px;
    }
}

@media screen and (max-width: 400px) {
    
    /* scale fonts */
    header {
        font-size: 35px;
        text-align: center;
        align-items: center;

        h1 {
            font-size: 45px;
        }

        div {
            padding: 2% 0;
        }
    }

    .projects ul {
        max-width: 100vw;
    }

    :root {
        --bot-pos: 35vh; 
        --dot-size: 20px; 
        --horiz: 1.15;
        --vert: 1.15;
        --box-size: 275px;
        --box-rotate: -5deg;
    }
}